.menu{
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 48px 16px;
}

@media screen and (max-width: 1200px){
    .menu-left, .menu-right{
        display: none;
    }

}

// container 

.container{
    max-width: 1220px;

    margin: 0 auto;

    padding: 24px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero{
    height: 90vh;
}

@media screen and (max-width: 1200px){
    .hero{
        height: auto;
    }

    .container{
        flex-direction: column;
    }
}

.container-item:nth-child(1){
    flex-grow: 3;
}
.container-item:nth-child(2){
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}